# MANIFEST.in
# Files to be included in the source distribution (not in the wheel)
include LICENSE.txt
include README.md
include sksparse/cholmod_backward_compatible.h
recursive-include sksparse *.pyx *.pxd *.c
recursive-include tests *.py
