# MANIFEST.in
# Files to be included in the source distribution (not in the wheel)
include LICENSE.txt
include README.rst
recursive-include src/sksparse *.pyx *.pxd *.c *.cpp
prune tests
prune scripts *
prune *.egg-info
